$mainColor: #e1b788;
$mainColorText: #c6c6c6;
$primaryColor: #ffffff;
$primaryBackground: #0b0c10;
$secondBackground: #0b0c10;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: $mainColor;
}
::selection {
    background: $mainColor;
    color: $primaryBackground;
}
@font-face {
    font-family: "LineIcons";
    src: url("../fonts/LineIcons.eot");
    src: url("../fonts/LineIcons.eot") format("embedded-opentype"), url("../fonts/LineIcons.woff2") format("woff2"),
        url("../fonts/LineIcons.woff") format("woff"), url("../fonts/LineIcons.ttf") format("truetype"),
        url("../fonts/LineIcons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: $primaryBackground;
    color: $mainColorText;
    line-height: 1.8;
    font-family: Gilroy;
}
.header-shadow {
    box-shadow: 0 0 30px #ffffff1a;
    background: $primaryBackground;
    transition: all 0.2s;
}
.navbar {
    z-index: 10;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .navbar-brand{
        color: #fff;
        font-size: 1.75rem;
        letter-spacing: 2px;
        span{
            color: $mainColor;
            font-size: 2rem;
        }
        img{
            width: 50%;
        }
    }
    .toggler {
        background: transparent;
        padding: 5px 15px;
        border: none;
        i {
            font-size: 25px;
            color: $mainColor;
        }
        &:hover {
            i {
                color: #e8c9a6;
            }
        }
    }
    .phone {
        float: left;
        margin-right: 1.25rem;
    }
    .email {
        float: left;
    }
}
.close-navbar {
    transform: translateX(100%);
}
.open-navbar {
    transform: translateX(0%);
}
.navbar-mobile {
    align-items: baseline;
    flex-wrap: unset;
    padding: 7.9rem 2.6rem 1.3rem 4.4rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    background-color: $secondBackground;
    overflow-x: auto;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    transition: all 0.6s ease;
    .close-icon {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        &:hover {
            color: $mainColor;
        }
    }
    .navbar-nav-mobile {
        li {
            .nav-link {
                color: $primaryColor;
                &:hover {
                    color: $mainColor;
                }
            }
            .nav-link.active {
                color: $mainColor;
            }
        }
    }
}
.links-fixed {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 1.1875rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 6.25rem 0;
    pointer-events: none;
    justify-content: center;
    &::before {
        width: 1px;
        height: 100%;
        margin: 0 auto;
        content: "";
        background-color: $mainColor;
        margin-bottom: 2.125rem;
    }
    &::after {
        width: 1px;
        height: 100%;
        margin: 0 auto;
        content: "";
        background-color: $mainColor;
        margin-top: 2.125rem;
    }
    a {
        font-size: 1.375rem;
        color: $mainColor;
        padding: 10px;
        cursor: pointer;
    }
}
#pp-nav {
    ul {
        li {
            a {
                span {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    li {
        .active {
            span {
                background: $mainColor;
            }
        }
    }
}

@media (min-width: 576px) {
    .navbar-mobile {
        max-width: 32rem;
        width: 50%;
    }
}

// --------- style of genric og page
.pp-section {
    .scroll-wrap {
        width: 100%;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 8rem 0 6rem;
        white-space: normal;
    }
}
.pp-scrollable {
    padding: 0;
    overflow-x: hidden;
}

//  ---------style of home
#home {
    background: url(../image/image01.jpg);
    background-position: 50%;
    background-size: cover;
    .inner-home {
        padding: 8rem 0 6rem;
        .scroll-wrap {
            top: 150px;
            h1 {
                font-size: 5.5rem;
                position: relative;
                color: $primaryColor;
                &::before {
                    content: "";
                    width: 150px;
                    height: 3px;
                    background: $mainColor;
                    position: absolute;
                    left: 370px;
                    bottom: 19px;
                }
            }
            h6 {
                font-size: 20px;
                color: $primaryColor;
            }
            p {
                width: 50%;
            }
        }
    }
}

// ----------- style of about
#about {
    background-color: $primaryBackground;
    .inner-about {
        .experience-block {
            width: 340px;
            border: 1px solid $mainColor;
            border-right: none;
            padding: 4.375rem 4.6875rem 3.125rem 3.125rem;
            text-align: right;
            .experience-block-number {
                font-size: 12.5rem;
                font-weight: 500;
                line-height: 1.1;
                margin-right: -0.25rem;
                margin-bottom: 3.125rem;
                color: #fff;
                .color-cricle {
                    color: $mainColor;
                    margin-left: 0.5rem;
                }
            }
            .experience-block-tittle {
                font-size: 1.375rem;
                font-weight: 400;
                line-height: 1.5;
                position: relative;
                margin: 2.1875rem 0 0;
                &::before {
                    position: absolute;
                    bottom: 0.625rem;
                    left: 0;
                    width: 4.8125rem;
                    height: 1px;
                    content: "";
                    background-color: #fff;
                }
            }
        }
        .elementor-widget {
            .elementor-heading-title {
                line-height: 1.35em;
            }
            .elementor-spacer-inner {
                height: 30px;
            }
            .elementor-text-editor {
                color: #ffffff99;
                font-size: 0.9375rem;
                width: 390px;
                max-width: 390px;
            }
            .vlt-progress {
                margin-top: 4.75rem;
                .progress-tittle {
                    font-size: 0.8125rem;
                    margin: 0 0 1rem;
                    text-transform: uppercase;
                    .counter {
                        float: right;
                    }
                }
                .vlt-progress-bar {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 0.4375rem;
                    border-radius: 0.4375rem;
                    background-color: #fff;
                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        border-radius: 0.4375rem;
                        background-color: $mainColor;
                    }
                }
            }
        }
    }
}

// ----------- style of projects
#projects {
    background: $secondBackground;
    .project-wrap {
        position: relative;
        .bg-changer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            opacity: 0.4;
            .section-bg {
                position: absolute;
                opacity: 0;
                will-change: opacity, transform;
                transform: scale(1);
                transition: opacity 0.5s 0.2s ease, transform 5s 0.2s ease;
                width: 100%;
                height: 100%;
            }
            .active {
                opacity: 1;
                transform: scale(1.05);
            }
        }
        .inner-projects {
            width: 100%;
            position: relative;
            min-height: 100%;
            h2 {
                span {
                    color: $mainColor;
                }
            }
            .row-project-box {
                margin-top: -30px;
                .col-project-box {
                    margin-top: 30px;
                    .project-box {
                        display: block;
                        padding-bottom: 30%;
                        border-radius: 4px;
                        position: relative;
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        transition: all 0.3s ease;
                        &:hover {
                            background: $mainColor;
                            border-color: $mainColor;
                            .project-box-inner {
                                h4 {
                                    color: $primaryBackground;
                                }
                                .project-category {
                                    color: $primaryBackground;
                                }
                            }
                        }
                        .project-box-inner {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            padding: 2.14rem 1.928rem;
                            h4 {
                                margin: 0;
                                color: #fff;
                            }
                            .project-category {
                                color: #cccccc;
                                margin-top: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ----------- style of testimonials

#testimonials {
    background: url(../image/testimonials.jpg);
    background-position: center;
    background-size: cover;
    .inner-testimonials {
        .test-widegt {
            .icon-quote {
                display: inline-block;
                margin-left: -0.7rem;
                line-height: 1;
                font-size: 6rem;
                margin-top: 3rem;
                margin-bottom: 5rem;
                color: $mainColor;
            }
            h2 {
                margin-top: 0;
                span {
                    color: $mainColor;
                }
            }
        }
        .elementor-spacer-inner {
            height: 230px;
        }
        .tittle-test {
            .elementor-heading-title {
                line-height: 1.35em;
                font-size: 3.125rem;
                font-weight: 400;
                letter-spacing: 0;
                text-transform: none;
                color: #fff;
            }
        }
        .client-op {
            display: flex;
            align-items: center;
            height: 100%;
            .carousel-testimonial {
                .testimonials-item {
                    .testimonials-item-avatar-container {
                        margin-bottom: 3.25rem;
                        .testimonial-item-avatar {
                            display: inline-block;
                            vertical-align: top;
                            margin-right: -1.25rem;
                            width: 4.375rem;
                            .inside {
                                display: block;
                                height: 0;
                                padding-bottom: 100%;
                                border-radius: 500px;
                                overflow: hidden;
                                background-position: 50% 30%;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        }
                        .testimonial-item-company {
                            @extend .testimonial-item-avatar;
                        }
                        .clients-photo-item {
                            width: 4.375rem;
                            .inside {
                                display: block;
                                height: 0;
                                padding-bottom: 100%;
                                background-color: #f5f4f0;
                                border-radius: 50rem;
                                overflow: hidden;
                                position: relative;
                            }
                        }
                    }
                    .testimonials-item-text {
                        margin-bottom: 3.125rem;
                    }
                    .slide-title-info {
                        font-size: 1.875rem;
                        font-weight: bold;
                        line-height: 1.35;
                        letter-spacing: -0.035em;
                    }
                    .testimonials-item-rating {
                        margin-bottom: 0.875rem;
                        color: #ffc705;
                    }
                    .testimonials-item-author {
                        font-size: 1.125rem;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    .slide-descr {
                        color: #999999;
                        font-size: 1.125rem;
                        line-height: 1.66666667;
                        a {
                            color: $mainColor;
                            text-decoration: none;
                        }
                    }
                }
                .owl-nav {
                    margin-top: 3.625rem;
                    margin-left: -0.5rem;
                    text-align: left;
                    .owl-next {
                        border: none;
                        background-color: transparent;
                        padding: 0;
                        margin: 0;
                        font-size: 2.375rem;
                        transition: all 0.3s ease-in-out;
                        color: #999999;
                    }
                    .owl-prev {
                        margin-right: 1.875rem;
                        @extend .owl-next;
                    }
                }
            }
        }
    }
}

// ----------- style of partners

#partners {
    background: $primaryBackground;
    .inner-partners {
        height: 100%;
        h2 {
            margin-top: 0px;
            span {
                color: $mainColor;
            }
        }
        .row-partner {
            margin: 0 -4rem;
            .col-partner {
                padding: 0 4rem;
                margin: 2.5rem 0;
                text-align: center;
                img {
                    opacity: 0.5;
                    transition: all 0.2s;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// ----------- style of news

#news {
    background: $primaryBackground;
    .intro {
        display: flex;
        overflow: hidden;
        width: 100%;
        min-height: 100%;
        flex: 0 0 auto;
        flex-direction: column;
        box-pack: center;
        justify-content: center;
        align-items: center;
        .inner-news {
            position: relative;
            z-index: 2;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            min-height: 100%;
            padding: 7.5rem 7.5rem;
            flex: 1 1 auto;
            align-items: center;
            .vlt-animated-block {
                h3 {
                    font-size: 3.125rem;
                    line-height: 1.35;
                }
            }
            .vlt-gap-100 {
                height: 6.25rem;
            }
            .vlt-post--masonry {
                position: relative;
                z-index: 1;
                .vlt-post-border {
                    span {
                        position: absolute;
                        z-index: 2;
                        background-color: $mainColor;
                    }
                    span.top {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        transition: all 0.3s 0s linear;
                        transform: scaleX(0);
                        transform-origin: left;
                    }
                    span.right {
                        top: 0;
                        right: 0;
                        width: 1px;
                        height: 100%;
                        transition: all 0.3s 0s linear;
                        transform: scaleY(0);
                        transform-origin: top;
                    }
                    span.bottom {
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        transition: all 0.3s 0s linear;
                        transform: scaleX(0);
                        transform-origin: right;
                    }
                    span.left {
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 100%;
                        transition: all 0.3s 0s linear;
                        transform: scaleY(0);
                        transform-origin: bottom;
                    }
                }
                .vlt-post-media {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    &::before {
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: "";
                        transition: all 0.3s;
                        background-color: rgba(22, 22, 22, 0.3);
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 0.3s;
                        object-fit: cover;
                    }
                }
                .vlt-post-content {
                    display: flex;
                    flex-direction: column;
                    padding: 2.5rem;
                    transition: all 0.3s;
                    opacity: 0;
                    justify-content: center;
                    .vlt-post-header {
                        margin-bottom: 1.875rem;
                        .vlt-post-date {
                            font-size: 0.9375rem;
                            font-weight: 500;
                            display: block;
                            margin-bottom: 0.5rem;
                            color: rgba(255, 255, 255, 0.6);
                        }
                        .vlt-post-title {
                            font-size: 2rem;
                            font-weight: 500;
                            line-height: 1.35;
                            &:hover {
                                color: $mainColor;
                            }
                        }
                    }
                    .vlt-post-excerpt {
                        font-size: 0.9375rem;
                        color: rgba(255, 255, 255, 0.6);
                        p {
                            margin-bottom: 0;
                        }
                    }
                    .vlt-post-footer {
                        margin-top: 6.25rem;
                        .vlt-read-more-link {
                            font-size: 0.9375rem;
                            font-weight: 500;
                            display: -ms-inline-flexbox;
                            display: inline-flex;
                            align-items: center;
                            text-decoration: none;
                            color: #fff;
                            svg {
                                height: 10px;
                                margin-left: 0.625rem;
                                transition: transform 0.3s, -webkit-transform 0.3s;
                            }
                            &:hover {
                                color: $mainColor;
                                svg {
                                    transform: translateX(5px);
                                }
                            }
                        }
                    }
                }
                &:hover {
                    .vlt-post-border {
                        span.top {
                            transform: scaleX(1);
                        }
                        span.right {
                            transition-delay: 0.3s;
                            transform: scaleY(1);
                        }
                        span.bottom {
                            transition-delay: 0.6s;
                            transform: scaleX(1);
                        }
                        span.left {
                            transition-delay: 0.9s;
                            transform: scaleY(1);
                        }
                    }
                    .vlt-post-media {
                        &::before {
                            background-color: $primaryBackground;
                        }
                    }
                    .vlt-post-content {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// ----------- style of contact

#contact {
    background: url(../image/contact.jpg);
    background-position: 50%;
    background-size: cover;
    .inner-contact {
        .contact-personal-card {
            height: 100%;
            display: flex;
            flex-direction: column;
            .contact-personal-card-title {
                height: 100%;
                .slide-title {
                    margin-bottom: 2rem;
                    font-size: 7.25vmin;
                    line-height: 1;
                    color: $mainColor;
                    text-transform: uppercase;
                }
            }
            .contact-personal-card-detail {
                .title-mini {
                    margin-bottom: 1.875rem;
                }
                .slide-title-sub {
                    margin-bottom: 1.6875rem;
                    font-size: 1.375rem;
                    line-height: 1.45454545;
                    color: $primaryColor;
                    font-family: monumentextended, sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 0.025em;
                    .phone-link {
                        color: inherit;
                        text-decoration: none;
                        cursor: default;
                        &:hover {
                            @extend .phone-link;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    color: $mainColor;
                    cursor: pointer;
                }
            }
        }
        .left-box-contact {
            h3 {
                span {
                    color: $mainColor;
                }
            }
            .form-control {
                display: block;
                width: 100%;
                margin: 0;
                padding: 1rem 1rem;
                transition: all 0.3s;
                border: none;
                border-bottom: 1px solid #4c4c4c;
                outline: 0;
                background-color: transparent;
                appearance: none;
                border-radius: 0;
                &:focus {
                    box-shadow: 0 0 0 0;
                    color: #fff;
                    border-bottom-color: #fff;
                }
                &::placeholder {
                    color: $mainColor;
                }
            }
            .my-btn {
                text-decoration: none;
                background: $mainColor;
                color: $primaryBackground;
                padding: 0 2.8125rem;
                height: 2.8125rem;
                transition: all 0.3s;
                &:hover {
                    color: #fff;
                    background-color: transparent;
                    box-shadow: inset 0 0 0 1px #fff;
                }
            }
        }
    }
}

// ---------- animate when scroll

.section:not(#home) {
    .intro {
        opacity: 0;
        transform: translateY(-40px);
        transition: all 0.7s;
    }
    .intro.animate {
        opacity: 1;
        transform: translateY(0);
    }
}

// .......  responsive of the website

@media (min-width: 1200px) {
    .container {
        max-width: 1110px !important;
    }
}
@media (min-width: 768px) {

    #projects {
        .project-wrap {
            .inner-projects {
                .row-project-box {
                    .col-project-box {
                        .project-box {
                            padding-bottom: 75%;
                            .project-box-inner {
                                .project-category {
                                    position: absolute;
                                    bottom: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    #about {
        background-color: $primaryBackground;
        .inner-about {
            .experience-block {
                margin: 0px auto;
                margin-bottom: 4rem;
                width: 100%;
            }
            .elementor-widget {
                margin: 0px auto;
            }
        }
    }
}
@media (max-width:600px){
    .container{
        width: 76%;
    }
    .links-fixed{
        display: none;
    }
}